@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;0,900;1,800;1,900&display=swap");

@layer base {
  body {
    @apply bg-slate-100 font-poppins overflow-x-hidden;
  }
  .input {
    @apply w-[full] h-[50px];
  }

  .input input {
    @apply h-full py-4 px-3 bg-slate-200 rounded-md border-black/80 max-w-[320px] w-[320px];
  }
  .icon a {
    @apply bg-slate-300 px-2 flex justify-center
               py-3 h-[40px] w-[40px] rounded;
  }
}

.Hamburger span::before {
  content: "";
  width: 20px;
  height: 3px;
  background-color: rgba(255, 255, 255);
  display: block;
  margin-top: 3px;
}

/* * {
  padding: 0px;
  margin: 0px;
  box-sizing: content-box;
}

body {
  background-color: #fff;
  font-family: Poppins, sans-serif;
}

.flex {
  display: flex;
}

.b_flex {
  display: flex;
  justify-content: space-between;
}
.c_flex {
  display: flex;
  justify-content: center;
} */

.slider-btn {
  position: absolute;
  z-index: 10;
  color: rgb(22, 20, 20);
  padding: 0.5rem;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1rem;
  transition: 0.5s;
}
.slider-btn:hover {
  background-color: rgb(26, 23, 23);
  color: white;
  transition: 0.5s;
}

.slider-btn.custom-next-button {
  right: 0;
  top: 25%;
}
.slider-btn.custom-prev-button {
  left: 0;
  top: 25%;
}

/* .col {
  column-count: 4;

  height: 100%;
  padding: 10rem 2rem;
} */

.h1::after {
  content: "";
  height: 2px;
  width: 100px;
  display: block;
  background-color: black;
  margin-top: 0.5rem;
}
